main {
    padding-top: 1rem;
}

.signup-title {
    text-align: center;
    font-size: 1.8rem;
    color: #ff5454;
}

/*whole form to to bring up to centre instead of its displays in edge*/
.signup-form {
    padding: 1rem;
}

/*form titles to be bold*/

.signup-form label {
    font-weight: bold;
}

.signup-form label,
.signup-form input,
.signup-form select {
    display: block;
    margin-top: 1rem;
    width: 100%;
}

/*.signup-form input[id*="terms"], :- we wat to target all the elemets where the id attriutes cotais the term terms*/

/* .signup-form input[type="checkbox"] : - i want to target all inputs which have a certain attributes, so 'type' attr value = checkboxs*/

/*.signup-form input[id*="terms"] + label : - this target all the labels directly follows this elements*/

.signup-form input[id*="terms"],
.signup-form input[id*="terms"] + label {
    display: inline-block;
    width: auto;
    vertical-align: bottom;
}
  /*font: inherit; -  will use the same font over all in the browser*/
/*.signup-form input:not([type="checkbox"]), : - not func allows us to say that it shld target all inputs   */

.signup-form input:not([type="checkbox"]),
.signup-form select {
    border: 1px solid #ccc;
    padding: 0.2rem 0.5rem;
    font: inherit;
}

/*on focus of the input box changing effects */
.signup-form input:focus,
.signup-form select:focus {
    outline: none;
    background: #d8f3df;
    border-color: #2ddf5c;
}

.signup-form input[type="checkbox"] {
    border: 1px solid #ccc;
    background: white;
    width: 1rem;
    height: 1rem;
    /*browser specifics, it override browser defaults*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/*using pseduclass*/ 
.signup-form input[type="checkbox"]:checked {
    background: #2ddf5c;
    border: #0e4f1f;
}

.signup-form button[type="submit"] {
    display: block;
    margin-top: 1rem;
}

@media (min-width: 40rem) {
    .signup-form {
        margin: auto;
        width: 25rem;
    }
}